* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #4b4444;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: auto;
  border: black solid 1px;
  gap: 3rem;
}

h1 {
  margin-top: 2rem;
}

.container,
.container2 {
  background-color: #eb5353;
  padding: 20px;
  border: black solid 1px;
  border-radius: 5px;
  width: 80%;
  max-width: 400px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #c209f0;
  border-radius: 3px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4e06f7;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#resultado,
#cambio {
  width: 100%;
  height: 2rem;
  padding: 8px;
  border: 1px solid #c209f0;
  border-radius: 3px;
  font-weight: bolder;
}

.block {
  width: 100%;
  border: 3px solid black;
}

.titulo {
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
}

#contenedorNotas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nota,
.filter{
  width: 30%;
  border: 2px solid #0f0f0f;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color:  #eb5353;
}

.formNota {
  width: 50%;
  height: 60vh;
  border: 2px solid #0f0f0f;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color:  #eb5353;
}

.nota h2 {
  margin-top: 0;
}

.nota p {
  margin-bottom: 5px;
}
